body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(0,0%,95%) 
}


#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(330, 86%, 52%)
    border-radius 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    color: rgb(98, 6, 245);
    font-size: 5rem;
    text-align: left;
    padding: 20px;
    border: none;
    background-color: black;
}

#key{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: rgb(10, 68, 230);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    }